<ion-header>
  <ion-toolbar color="scanzy">
    <ion-buttons slot="end">
      <ion-button routerLink="/settings">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title size="large" class="ion-text-center">
      Scanzy
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header color="light"><ion-label>Data Detectors</ion-label></ion-list-header>
    <ion-item (click)="scan('1D')" [detail]="false">
      <ion-avatar slot="start">
        <ion-icon name="barcode-outline" size="large"></ion-icon> 
      </ion-avatar>
      <ion-label>
        <h2>Scan 1D barcode</h2>
        <p>Code128, Code39, Code93, CodaBar, EAN13, EAN8, ITF, UPCA, UPCE.</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="scan('2D')"  [detail]="false">
      <ion-avatar slot="start">
        <ion-icon name="qr-code-outline" size="large"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Scan QR code</h2>
        <p>QRCode, DataMatrix, PDF417, Aztec, MaxiCode.</p>
      </ion-label>
    </ion-item>
    <!-- <app-message *ngFor="let message of getMessages()" [message]="message"></app-message> -->
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid class="about-container">
      <ion-list>
        <ion-list-header color="light"><ion-label>About</ion-label></ion-list-header>
         <ion-item><a href="https://www.scanzy.com" target="_blank">Learn more about the SDK</a></ion-item>
        </ion-list>
      <ion-list>
        <ion-list-header color="light"><ion-label>Legal Information</ion-label></ion-list-header>
        <ion-item><a href="https://www.scanzy.com" target="_blank">Terms of use</a></ion-item>
        <ion-item><a href="https://www.scanzy.com" target="_blank">Privacy policy</a></ion-item>
      </ion-list>
    </ion-grid>
    <ion-grid class="version-container">
      <ion-row><ion-text color="medium">App version 1.0.0</ion-text></ion-row>
      <ion-row><ion-text color="medium">Scanzy Barcode Scanner SDK version 0.0.6</ion-text></ion-row>
      <ion-row><ion-text color="medium">@2023 Scanzy. All rights reserved.</ion-text></ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>